* { margin:0; padding:0; }

header { background-color: #96d3b3;
         height: 100px; 
         display: flex; }

header div:nth-child(1) {  width: 120px; 
                           display: flex;
                           justify-content: center;
                           align-items: center; }

header div:nth-child(2) { display: flex;
                          flex-direction: column;
                          justify-content: center; }

header div:nth-child(3) { flex: 1; }

nav { background-color: #123d26;
      height: 40px; }
      
nav ul { list-style-type: none; 
         display: flex; }

nav ul li { margin-left: 40px; 
            height: 40px; 
            display: flex;
            align-items: center;}

nav ul li a { color: white; 
              text-decoration: none;
              font-family: "trebuchet ms";}

nav ul li a:hover { color: yellow; 
                    font-weight: 900; }              

/* isi css dari slide show */

div#kerangka { border: 1px solid red;
      box-sizing: border-box; }

#frame { width: 640px;
         height: 426px;
         overflow:hidden; 
         position: relative; } 
         /* induknya dijadikan position:relative
           supaya anaknya yang position:absolute
           masih tetap berada di dalamnya */
          
#slide { width: auto; 
         display:flex; 
         position: absolute;  }
      
.item { width:640px; }

.posisi1 { left: 0px; transition: 1s; }
.posisi2 { left: -640px; transition: 1s; }
.posisi3 { left: -1280px; transition: 1s; }
.posisi4 { left: -1920px; transition: 1s; }

.teks { position: absolute; 
        width:640px;
        background: rgba(0,0,0,0.5);
        top:360px;
        height:66px;
        color:white;
        padding:5px;
        }


main { display: flex; 
       justify-content: space-between; }

main section {
      padding: 1rem;
      text-align: justify;
      flex: 1;     
} 
blockquote { padding:0.5rem; 
             text-align: center; }
section h1 { padding: 0.5rem; 
             text-transform: uppercase;
             font-family: 'Roboto', sans-serif;
             }
section p { margin: 1rem 0; }

aside { width: 30%; background:#80c0b0;
        height: 100%; }

.widget { margin: 10px; border-radius: 10px;
          border:1px solid #123d26; 
          overflow: hidden;}

.widget h2 { background:black; 
             color:white;
             padding:5px; 
             font-family:Tahoma; }

.daftar_link { 
  list-style: none;
 }
.daftar_link li { background:#96d3b3; }
.daftar_link li::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: cover;
    background-image: url('images/icon-news.png');
    background-repeat: no-repeat;
    margin-left: 10px;
    background-position: center center;
    vertical-align: middle;
}

.daftar_link li a { display:inline-block;
                    padding:5px 10px; 
                    text-decoration: none;
                    color:black; }
.daftar_link li a:hover { 
             background-color: #123d26;
             color:white; }   


/* .daftar_link li a::before { 
             content: "\1F4F0 "; } */

.tombol { 
      display: inline-block;
      background-color: #aaa;
      color: black; 
      font-weight: 900;
      font-family: Arial;
      padding: 3px 20px;
      box-shadow: 1px 1px 0 black;
      text-decoration: none;
      margin:10px;
      border-left: 1px solid white;
      border-top: 1px solid white;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
}